.calltoaction {
  width: 200px;
  height: 100px;
  margin-bottom: 20px;
  padding: 20px;
  background: #8ecae6;
  border-radius: 10px;
  transition: transform 0.4s;
}

.calltoaction:hover {
  transform: scale(1.2);
}

.button {
  margin-bottom: 20px;
  display: inline-block;
  padding: 10px 20px;
  background: #8ecae6;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.button:hover {
  background-color: #38a4b7;
  color: white;
}

.card {
  width: 200px;
  margin-bottom: 20px;
  padding: 20px;
  background: #8ecae6;
  border-radius: 10px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.card:hover {
  background-color: #38a4b7;
}

.card h2 {
  transition: transform 0.2s 0.2s ease-in-out;
}

.card:hover h2 {
  transform: translateX(15px);
}

.card-title {
  font-size: 20px;
}
